*,
*::after,
*::before {
    box-sizing: border-box;
    transition: all ease-in-out .4s;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1D1D1D;
}

button {
    border: none;
    background: none;
}

button:active, 
button:focus, 
input:active, 
input:focus,
a:focus,
a:active {
    outline: none;
    border-bottom: 1px solid #57AD56;
}

a {
    text-decoration: none;
    color: inherit;
}

input::-webkit-input-placeholder { 
    color: #E0E0E0;
}

.container {
    max-width: 956px;
    margin: 0 auto;
}


/* HEADER */

.header {
    background-color: #fff;

    position: sticky;
    top: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 56px;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header__login {
    display: flex;
    align-items: center;
}

.header__login-button {
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 10px 20px;

    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
}

.header__login-button:hover {
    background: #57AD56;
    color: #fff;
}

.header__login-cart {
    margin-left: 27px;
}

.header__login-svg:hover path {
    fill: #57AD56;
}


/*  */


@media screen and (max-width: 956px) {
    .container {
        padding: 0 10px;
    }
}

@media screen and (max-width: 751px) {
    .header__login-cart {
        display: none;
    }
}

/* HEADER */



/* SEARCH */

.search__field {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #E0E0E0;

    line-height: 20px;
    font-size: 18px;

    margin-bottom: 56px;
}

/* SEARCH */



/* RESTAURANTS */

.restaurants__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    
    margin-bottom: 16px;
}

.restaurants__items {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

.restaurant__link {
    margin-bottom: 36px;
    margin-left: 5px;
    margin-right: 5px;
}

.restaurant__link:hover {
    background-color: #f1f1f1;
}

.restaurant__img {
    margin-bottom: 16px;
}

.restaurant__title {
    font-weight: 400;
    margin-bottom: 4px;

    font-size: 16px;
    line-height: 24px;
}

.restaurant__price {
    margin-bottom: 4px;

    font-size: 14px;
    line-height: 21px;

    color: #626262;
}

.restaurant__time {
    font-size: 13px;
    line-height: 21px;

    margin-bottom: 20px;
}

@media screen and (max-width: 956px){
    .restaurants__items {
        justify-content: space-around;
    }
}

/* RESTAURANTS */



/* FOOTER */

.footer {
    background-color: #262626;
    color: #fff;
}

.footer__logo {
    border-bottom: #929292 1px solid;
    margin-bottom: 32px;
}

.footer__logo-img {
    margin: 50px 0;
}

.footer__menu {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-bottom: #929292 1px solid;
    margin-bottom: 48px;
}

.footer__menu-lang {
    display: flex;
    flex-direction: column;
}

.footer__menu-lang-select {
    outline: none;
    cursor: pointer;
    margin-bottom: 33px;
    width: 227px;
    height: 40px;
    color: #FFFFFF;
    padding-left: 40px;
    background: url(../img/footer/world.svg) 4% / 10% no-repeat #3B3B3B;;
    border: none;
    border-radius: 2px;

    transition: all ease-in-out .4s;
}

.footer__menu-lang-select-option:hover {
    background: inherit;
}

.footer__menu-hash {
    color: #FFFFFF;
    margin-bottom: 21px;
    width: min-content;
}

.footer__menu-hash span {
    color: #49A144;
}

.footer__menu-social-item {
    margin-right: 15px;
}

.footer__menu-social-item:hover svg path {
    fill:#49A144
}

.footer__menu-about {
    display: flex;
    flex-direction: column;
}

.footer__menu-about-item {
    margin-bottom: 23px;
}

.footer__menu-about-item:hover {
    color: #49A144;
}

.footer__menu-info {
    display: flex;
    flex-direction: column;
    padding-right: 130px;
}

.footer__menu-info-item {
    margin-bottom: 23px;
}

.footer__menu-info-item:hover {
    color: #49A144;
}

.footer__apps {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: #929292 1px solid;
}

.footer__apps-item {
    margin: 0 20px;
}

.footer__personal {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 130px 40px 0;
    font-size: 11px;
    line-height: 13px;
}

.footer__personal-item-link:hover {
    color: #49A144;
}

/* FOOTER */